$desktop                 : 1400px;
$notebook                : 1280px;
$smNotebook              : 992px;
$table                   : 768px;
$phone                   : 576px;
$smPhone                 : 320px;