.bottom-link-next {
    position: relative;
    color: #29A28C;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    top: 35px;
    padding-left: 50px;

    &::after {
        content: url("/src/img/icons/arrow-right.svg");
        margin-left: 20px;
    }

    &::before {
        content: url("/src/img/icons/cloud.svg");
        position: absolute;
        margin-right: 20px;
        left: 0;
        top: -7px;
    }
}
