.company {
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(4px);
    text-align: center;
    padding: 75px 120px;
    max-width: 45%;

    @include smNotebook {
        max-width: 100%;
    }

    &__title {
        font-size: 20px;
        padding-top: 15px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding-top: 7px;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #515151;
        padding-top: 25px;
        max-width: 420px;
        margin: 0 auto;
    }

    &__img {
        margin: 0 auto;
    }
}