.header {
    padding-top: 25px;
    position: absolute;
    z-index: 5;
    width: 100%;
    align-items: center;

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;

        @include smNotebook {
            justify-content: center;
        }
    }

    &__nav {
        max-width: 790px;

        @include smNotebook {
            display: none;
        }
    }

    &__logo-img {
        background-color: #ffffff8a;
        border-radius: 100%;
        -moz-box-shadow:inset 0px 0px 3px 1px rgb(248, 248, 248);
        -webkit-box-shadow:inset 0px 0px 3px 1px rgb(248, 246, 246);
        box-shadow:inset 0px 0px 3px 1px rgb(250, 249, 249);
    }

    &__wrap-logo {

    }
}